<div class="footer bg-gray text-dark">
    <img src="../assets/images/nauto-logo-footer.svg" alt="Nauto logo">
    <h6>Copyright 2022 All Rights Reserved</h6>
    <p>
        ® Nauto and the Nauto logo are registered trademarks of Nauto, Inc. in the United States 
        and other countries.
    </p>
    <div class="links">
        <a>Site Privacy</a>
        <a>User Privacy</a>
        <a>About</a>
        <a>Contact Us</a>
    </div>
    <div class="socials-icons">
        <img id="fb" src="../assets/images/facebook-svgrepo-com.png" alt="Facebook link">
        <img id="twitter" src="../assets/images/twitter-154-svgrepo-com.png" alt="Twitter link">
        <img id="linkedin" src="../assets/images/linkedin-linked-in-svgrepo-com.png" alt="LinkedIn link">
    </div>
</div>