<div class="form bg-white">
    <div class="title-text bg-white">
        <h1>Download Now</h1>
    </div>
    <div class="input-group">
        <div class="input-field1">
            <h6>*First name</h6>
            <input >
        </div>
        <div class="input-field1">
            <h6>*Last name</h6>
            <input >
        </div>
        <div class="input-field1">
            <h6>*Company</h6>
            <input >
        </div>
        <div class="input-field1">
            <h6>*Business email</h6>
            <input >
        </div>
    </div>
</div> 