<div class="form bg-white">
    <div class="title-text bg-white">
        <h1>Download Now</h1>
    </div>
    <div class="input-group">
        <div class="input-field1">
            <h6>*First name</h6>
            <input >
        </div>
        <div class="input-field1">
            <h6>*Last name</h6>
            <input >
        </div>
        <div class="input-field1">
            <h6>*Company</h6>
            <input >
        </div>
        <div class="input-field1">
            <h6>*Business email</h6>
            <input >
        </div>

        <div class="input-field2">
            <h6>*Job title</h6>
            <select>
                <option>Select...</option>
            </select>
        </div>
        <div class="input-field2">
            <h6>*Job function</h6>
            <select>
                <option>Select...</option>
            </select>
        </div>
        <div class="input-field2">
            <h6>*Industry</h6>
            <select>
                <option>Select...</option>
            </select>
        </div>
        <div class="input-field2">  
            <h6>*Country</h6>
            <select>
                <option>Select...</option>
            </select>
        </div>
        <div class="input-field2">
            <h6>*Company fleet size</h6>
            <select>
                <option>Select...</option>
            </select>
        </div>
        <div class="input-field2">
            <h6>*Primary vehicle type</h6>
            <select>
                <option>Select...</option>
            </select>
        </div>

        <button class="bg-green text-white">
            SUBMIT
        </button>
    </div>
</div> 