<div class="hero">
    <div class="top-gradient"></div>
    <div class="hero-content text-sans">
        <div class="container">
            <h6 class="text-gray">EBOOK</h6>
            <h1 class="text-white">
                Your Roadmap for Improving Fleet Safety
            </h1>
            <h4 class="text-white">
                This free eBook gives you the 4 steps you need to improve safety in your fleet. 
                Fleets who followed these 4 steps reduced insurance claims by 35%. You can too.
            </h4>
        </div>
    </div>
</div>