.form {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    position: absolute;
    right: 120px;
    margin-top: -60px;
    box-shadow: 0.1px -1px 10px rgba(0, 0, 0, 0.2);
}

.form, .title-text {
    border-radius: 10px;
}

.form .title-text {
    padding: 28px 0px 10px 0px;
    text-align: center;
    color: #2c2e38;
    font-size: 18px;
    line-height: 160%;
    font-weight: 400;
}

.form .title-text h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 130%;
    font-weight: 400;
    text-align: center;
}

.form .input-group {
    display: grid;
    grid-template-columns: 175px 175px;
    gap: 10px;
    padding: 20px 50px 50px 50px;
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    height: fit-content;
}

.form .input-group .input-field1 h6 {
    font-weight: bold;
    text-align: left;   
    font-size: 16px;
    padding-bottom: .5em;
    line-height: 1.2em;
    padding: 4.8px 0px 8px;
    color: #333333;
}

.form .input-group .input-field1 input {
    width: 100%;
    min-height: 40px;
    padding: 8px 12px;
    border: 1px solid #858d99;
    opacity: 0.5;
}

.form .input-group .input-field2 {
    grid-column: span 2;
}

.form .input-group .input-field2 h6 {
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    padding-bottom: .5em;
    line-height: 1.2em;
    padding: 4.8px 0px 8px;
    color: #333333;
}

.form .input-group .input-field2 select {
    width: 100%;
    min-height: 40px;
    padding: 8px 12px;
    border: 1px solid #858d99;
    opacity: 0.5;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    line-height: 1.2em;
    color: black !important;
}

.form .input-group button {
    border-color: #1595a3;
    padding: 18px 50px;
    border-radius: 30px;
    border: none;
    font-size: 1.2em !important;
    line-height: 1.2em !important;
    cursor: pointer;
    margin-top: 45px;
    font-weight: bold;
}
