* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text-sans {
    font-family: sans-serif;
}

.text-gray {
    color: #858d99;
}

.text-white {
    color: #fff;
}

.text-dark {
    color: #2c2e38;
}

.bg-white {
    background-color: #ffffff;
}
